docker>=4.1
docstring_parser>=0.13
ipykernel>=6
fasteners>=0.17
fastavro>=1.4.10
numpy>=1.21.6
pytest>=7.1.1
kfp>=1.8.12
google-cloud-aiplatform>=1.12.0
google-cloud-bigquery>=2.34
google-auth>=1.6.1
google_api_core>=2.7
google_api_python_client>=1.8
tensorflow-decision-forests>=0.2.3
tfx>=1.7.1
